@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro&display=swap');

@font-face {
font-family: 'Apercu Regular';
font-style: normal;
font-weight: normal;
src: local('Apercu Regular'), url('fonts/Apercu_Regular.woff') format('woff');
}

@font-face {
font-family: 'Apercu Bold';
font-style: normal;
font-weight: normal;
src: local('Apercu Bold'), url('fonts/Apercu Bold.woff') format('woff');
}

@font-face {
font-family: 'Apercu Light';
font-style: normal;
font-weight: normal;
src: local('Apercu Light'), url('fonts/Apercu Light.woff') format('woff');
}

h1{
	font-family: 'Apercu Regular';
	text-align: left;
	padding: 30px;
	font-size: 65px;
	color: #320187;
	margin: 100px;
	margin-bottom: 8px;
}

p{
	font-family: 'Apercu Light';
	margin: 100px;
	margin-top: 5px;
	margin-bottom: 4px;
	padding: 30px;
	padding-top: 0px;
	font-size: 25px;
	color: #404040;
}

a{
	font-family: 'Apercu Regular';
	text-decoration: none;
	margin: 100px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 30px;
	padding-top: 0px;
	font-size: 25px;
	color: #f55925
}

.lincco{
	font-size: 28px;
	color: #320187;
	border: 1px solid;
	padding: 8px;
	text-align: center;
	margin-left: 130px;
}
