

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Roboto&display=swap');


body {
	font-family: 'Roboto', sans-serif;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20%;
	margin-top: 10%;
	text-align: center;
}

.header{
	font-size: 40px;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	
}

.lefty {
	text-align: left
}

.righty {
	text-align: right
}

.banner {
	margin-top: 100px;
	font-size: 80px;
}

.description{
	font-size: 22px;
	color: #76797c;
}

a{
	color: black;
}

.teal {
	color: #0ec497;
}

.cyan {
	color: #1059eb
}

.nav {
	font-size: 30px;
	margin-right: 10px;
	margin-left: 10px;
}

.stylednav {
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
}

.footer {
	color: black;
}

img {
	height: 150px;
}